
@media only screen and (min-width : 320px) {
    #twitchStream{
        background-color: aquamarine;
    }

    #title{
        background-color: cadetblue;
        width: 100%;
        height: 50px;

    }

    #streamList{
        height: 200px;
    }
    #chatPanel{
        background-color: brown;
        height: 300px;
    }

    .left-side{
        background-color: burlywood;
        height: 400px;
    }



    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }

    body, html { 
        overflow-x: hidden; 
        overflow-y: show;
    }
        
}

@media only screen and (min-width : 992px) {
    #twitchStream{
        background-color: aquamarine;
    }

    #title{
        background-color: cadetblue;
        width: 100%;
        height: 50px;

    }

    #streamList{
        height: 30vh;
    }
    #chatPanel{
        background-color: brown;
        height: 65vh;
    }

    .left-side{
        background-color: burlywood;
        height: 95vh;
    }



    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }

    body, html { 
        overflow-x: hidden; 
        overflow-y: hidden;
    }
}




